{% extends pagelayout %}

{% block content %}

    {% if isConfirmed %}
        <p>Unregistration confirmed.</p>
    {% else %}
        <p>This url is not valid anymore, your registration was not confirmed.</p>
    {% endif %}
{% endblock %}
