{% autoescape 'html' %}
    <?xml version="1.0" encoding="UTF-8" ?>
    <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
            <title>{{- rssFeed.meta.title -}}</title>
            <link>{{- rssFeed.meta.link -}}</link>
            <description>{{- rssFeed.meta.description -}}</description>
            {% for feedItem in rssFeed.feedItems %}
                {{- render(controller( "ibexa_content:viewAction", {
                    'locationId': feedItem.content.contentInfo.mainLocationId,
                    'viewType': 'rss_line',
                    'params': {
                        'mapping': feedItem.getMapping
                    }
                }
                )) -}}
            {% endfor %}
        </channel>
    </rss>
{% endautoescape %}
