{% extends "base.html.twig" %}
{% block content %}
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-8 col-sm-12">
            {{ content|raw }}

            <p class="text-right">
                <img width="204" height="20"
                     src='https://img.shields.io/badge/Updated on-{{ 'now'|date('m-d-Y H:i:s')|replace({'-':'--'}) }}-green?style=flat-square&labelColor=black'
                     alt='Updated on {{ 'now'|date('m-d-Y H:i:s')|replace({'-':'--'}) }}'
                />
            </p>
        </div>
        <div class="col-md-4 col-sm-12 d-print-none sidebar">
            {% if hasMenu %}
                <p><strong>In this page</strong>:</p>
                {{ menu|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}
