{% extends '@IbexaAdminUi/themes/admin/ui/field_type/preview/content_fields.html.twig' %}

{% block ezimage_field %}
    {% apply spaceless %}
        {% if not ibexa_field_is_empty( content, field ) %}
            {% set imageAlias = ibexa_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
            {% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezimage')|trim}) %}
            <div {{ block( 'field_attributes' ) }}>
                <div class="ez-field-preview__image-wrapper">
                    <div class="ez-field-preview__image">
                        <img src="{{ src }}">
                    </div>
                </div>
            </div>
        {% endif %}
    {% endapply %}
{% endblock %}