language: php

php:
  - '7.1'
  - '7.2'

matrix:
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

install:
  - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer install --no-interaction
  - yarn install

script:
  - composer tests
