{% trans_default_domain 'import_export' %}

<div class="container ibexa-container">
    {% for result in results %}
        {% include result.template with result.parameters only %}
    {% endfor %}
</div>
