services:
  # default configuration for services in *this* file
  _defaults:
    # automatically injects dependencies in your services
    autowire: true
    # automatically registers your services as commands, event subscribers, etc.
    autoconfigure: true
    # this means you cannot fetch services directly from the container via $container->get()
    # if you need to do this, you can override this setting on individual services
    public: false

  Novactive\EzSolrSearchExtraBundle\Controller\:
    resource: "../../Controller/*"
    public: true

  Novactive\EzSolrSearchExtra\EventListener\:
    resource: "../../../lib/EventListener/*"

  Novactive\EzSolrSearchExtra\Api\:
    resource: "../../../lib/Api/*"

  Novactive\EzSolrSearchExtra\Api\Gateway:
    parent: ibexa.solr.gateway
    arguments:
      $queryConverter: '@Novactive\EzSolrSearchExtra\Query\DocumentQueryConverter'
      $configResolver: '@Ibexa\Contracts\Core\SiteAccess\ConfigResolverInterface'

  Novactive\EzSolrSearchExtra\FieldMapper\ContentTranslationFieldMapper\CustomFulltextFieldMapper:
    calls:
    - ['setFieldsConfig', ['fulltext_fields']]
    tags:
    - {name: ibexa.search.solr.field.mapper.block.translation}

  Novactive\EzSolrSearchExtra\FieldMapper\ContentTranslationFieldMapper\CustomFieldMapper:
    calls:
    - ['setFieldsConfig', ['custom_fields']]
    tags:
    - {name: ibexa.search.solr.field.mapper.block.translation}

  Novactive\EzSolrSearchExtra\FieldMapper\BinaryFileFieldMapper:
    arguments:
      $ioService: '@ibexa.field_type.ezbinaryfile.io_service'
      $textExtractor: '@Novactive\EzSolrSearchExtra\TextExtractor\TikaTextExtractor'

  Novactive\EzSolrSearchExtra\FieldMapper\ContentTranslationFieldMapper\BinaryFileFullTextFieldMapper:
    lazy: true
    arguments:
      $binaryFileFieldTypeIdentifiers:
      - ezbinaryfile
    calls:
    - ['setEnabled', ['enable_pdf_indexation']]
    tags:
    - {name: ibexa.search.solr.field.mapper.block.translation}

  Novactive\EzSolrSearchExtra\FieldMapper\ContentTranslationFieldMapper\PublishDateFieldMapper:
    lazy: true
    calls:
    - ['setFieldIdentifiers', ['publishdate_fields']]
    tags:
    - {name: ibexa.search.solr.field.mapper.block.translation}

  Novactive\EzSolrSearchExtra\TextExtractor\TikaTextExtractor:
    arguments:
      $tikaClient: '@Novactive\EzSolrSearchExtra\Tika\TikaLocalClient'

  Novactive\EzSolrSearchExtra\Tika\TikaLocalClient:
    arguments:
      $jar: './bin/tika-app-2.9.1.jar'

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\MultipleFieldsFullText:
    factory: ['@Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\Factory\ContentFullTextFactory', 'createCriterionVisitor']
    tags:
    - {name: ibexa.search.solr.query.content.criterion.visitor}

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\Factory\ContentFullTextFactory:
    parent: Ibexa\Solr\Query\Common\CriterionVisitor\Factory\FullTextFactoryAbstract

  Novactive\EzSolrSearchExtra\Query\Location\CriterionVisitor\MultipleFieldsFullText:
    factory: ['@Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\Factory\ContentFullTextFactory', 'createCriterionVisitor']
    tags:
    - {name: ibexa.search.solr.query.location.criterion.visitor}

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\ParentTag:
    tags:
    - {name: ibexa.search.solr.query.content.criterion.visitor}
    - {name: ibexa.search.solr.query.location.criterion.visitor}

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\ChildTag:
    tags:
    - {name: ibexa.search.solr.query.content.criterion.visitor}
    - {name: ibexa.search.solr.query.location.criterion.visitor}

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\FilterTag:
    tags:
    - {name: ibexa.search.solr.query.content.criterion.visitor}
    - {name: ibexa.search.solr.query.location.criterion.visitor}

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\LocationDistanceRange:
    tags:
      - { name: ibexa.search.solr.query.content.criterion.visitor }
      - { name: ibexa.search.solr.query.location.criterion.visitor }

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\LocationDistanceIn:
    tags:
      - { name: ibexa.search.solr.query.content.criterion.visitor }
      - { name: ibexa.search.solr.query.location.criterion.visitor }

  Novactive\EzSolrSearchExtra\Query\Content\CriterionVisitor\RawQueryString:
    tags:
      - { name: ibexa.search.solr.query.content.criterion.visitor }
      - { name: ibexa.search.solr.query.location.criterion.visitor }

  Novactive\EzSolrSearchExtra\Query\CriterionHandler\MultipleFieldsFullText:
    parent: Ibexa\Core\Search\Legacy\Content\Common\Gateway\CriterionHandler\FullText

  Novactive\EzSolrSearchExtra\Query\SortClauseVisitor\Score:
    tags:
    - {name: ibexa.search.solr.query.content.sort_clause.visitor}
    - {name: ibexa.search.solr.query.location.sort_clause.visitor}

  Novactive\EzSolrSearchExtra\Query\SortClauseHandler\Score:
    autowire: false
    autoconfigure: false
    public: false
    parent: ibexa.search.legacy.gateway.sort_clause_handler.base
    tags:
    - {name: ibexa.search.legacy.gateway.sort_clause.handler.content}
    - {name: ibexa.search.legacy.gateway.sort_clause.handler.location}

  Novactive\EzSolrSearchExtra\Query\SortClauseVisitor\CustomField:
    tags:
    - {name: ibexa.search.solr.query.content.sort_clause.visitor}
    - {name: ibexa.search.solr.query.location.sort_clause.visitor}

  Novactive\EzSolrSearchExtra\Query\SortClauseHandler\CustomField:
    autowire: false
    autoconfigure: false
    public: false
    parent: ibexa.search.legacy.gateway.sort_clause_handler.base
    tags:
    - {name: ibexa.search.legacy.gateway.sort_clause.handler.content}
    - {name: ibexa.search.legacy.gateway.sort_clause.handler.location}


  nova_solr_extra.search.solr.query.content.query_converter:
    class: Novactive\EzSolrSearchExtra\Query\Common\QueryConverter
    decorates: ibexa.solr.query_converter.content
    decoration_priority: -10
    arguments:
      - '@nova_solr_extra.search.solr.query.content.query_converter.inner'
      - '@ibexa.solr.query.content.criterion_visitor.aggregate'

  nova_solr_extra.search.solr.query.location.query_converter:
    class: Novactive\EzSolrSearchExtra\Query\Common\QueryConverter
    decorates: ibexa.solr.query_converter.location
    decoration_priority: -10
    arguments:
      - '@nova_solr_extra.search.solr.query.location.query_converter.inner'
      - '@ibexa.solr.query.location.criterion_visitor.aggregate'

  Novactive\EzSolrSearchExtra\Query\Translator\Generator\WordVisitor:
      decorates: Ibexa\Solr\Query\Common\QueryTranslator\Generator\WordVisitor

  Novactive\EzSolrSearchExtra\Search\Common\FieldValueMapper\DateRangeMapper:
    tags:
      - { name: ibexa.search.common.field_value.mapper, maps: Novactive\EzSolrSearchExtra\Search\FieldType\DateRangeField }

  Novactive\EzSolrSearchExtra\Search\Common\FieldValueMapper\MultipleDateMapper:
    tags:
      - { name: ibexa.search.common.field_value.mapper, maps: Novactive\EzSolrSearchExtra\Search\FieldType\MultipleDateField }

  Novactive\EzSolrSearchExtra\Search\Common\FieldValueMapper\MultipleDateRangeMapper:
    tags:
      - { name: ibexa.search.common.field_value.mapper, maps: Novactive\EzSolrSearchExtra\Search\FieldType\MultipleDateRangeField }

  Novactive\EzSolrSearchExtra\ResultExtractor\DocumentResultExtractor:
    arguments:
      - '@ibexa.solr.query.content.facet_builder_visitor.aggregate'
      - '@ibexa.solr.query.content.aggregation_result_extractor.dispatcher'
      - '@Ibexa\Solr\Gateway\EndpointRegistry'

  nova_solr_extra.search.solr.query.document.query_converter:
    class: Novactive\EzSolrSearchExtra\Query\Common\QueryConverter
    decorates: Novactive\EzSolrSearchExtra\Query\DocumentQueryConverter
    decoration_priority: -10
    arguments:
      - '@nova_solr_extra.search.solr.query.document.query_converter.inner'
      - '@ibexa.solr.query.content.criterion_visitor.aggregate'

  Novactive\EzSolrSearchExtra\Query\DocumentQueryConverter:
    arguments:
      - '@ibexa.solr.query.content.criterion_visitor.aggregate'
      - '@ibexa.solr.query.content.sort_clause_visitor.aggregate'
      - '@ibexa.solr.query.content.facet_builder_visitor.aggregate'
      - '@ibexa.solr.query.content.aggregation_visitor.dispatcher'

  Novactive\EzSolrSearchExtra\Api\GatewayRegistry: ~

  Novactive\EzSolrSearchExtra\Search\ExtendedSearchHandlerFactory:
    arguments:
      $repositoryConfigurationProvider: '@Ibexa\Bundle\Core\ApiLoader\RepositoryConfigurationProvider'
      $defaultConnection: "%ibexa.solr.default_connection%"
      $gatewayRegistry: '@Novactive\EzSolrSearchExtra\Api\GatewayRegistry'
      $coreFilterRegistry: '@Ibexa\Solr\CoreFilter\CoreFilterRegistry'
      $resultExtractor: '@Novactive\EzSolrSearchExtra\ResultExtractor\DocumentResultExtractor'

  Novactive\EzSolrSearchExtra\Search\ExtendedSearchHandler:
    lazy: true
    factory: [ '@Novactive\EzSolrSearchExtra\Search\ExtendedSearchHandlerFactory', build]

  Novactive\EzSolrSearchExtra\Repository\DocumentSearchService:
    arguments:
      $searchHandler: '@Novactive\EzSolrSearchExtra\Search\ExtendedSearchHandler'

  Novactive\EzSolrSearchExtra\Repository\SiteAccessAware\DocumentSearchService:
    arguments:
      - '@Novactive\EzSolrSearchExtra\Repository\DocumentSearchService'
      - '@ibexa.helper.language_resolver'

  Novactive\EzSolrSearchExtra\Repository\DocumentSearchServiceInterface: '@Novactive\EzSolrSearchExtra\Repository\SiteAccessAware\DocumentSearchService'

  Novactive\EzSolrSearchExtra\Api\Schema\Analysis\Synonyms\SynonymsService:
      arguments:
          $searchHandler: '@Novactive\EzSolrSearchExtra\Search\ExtendedSearchHandler'

  Novactive\EzSolrSearchExtra\Api\Schema\Analysis\Stopwords\StopwordsService:
      arguments:
          $searchHandler: '@Novactive\EzSolrSearchExtra\Search\ExtendedSearchHandler'

  Novactive\EzSolrSearchExtra\Api\Schema\ManagedResourcesService:
      arguments:
          $searchHandler: '@Novactive\EzSolrSearchExtra\Search\ExtendedSearchHandler'
