parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false
        bind:
            $translationHelper: '@Ibexa\Core\Helper\TranslationHelper'
            $knpHelper: '@knp_menu.helper'
            $httpCachePurgeClient: '@ibexa.http_cache.purge_client'
            $persistenceCacheAdapter: '@ibexa.cache_pool'
            $locationHandler: '@Ibexa\Contracts\Core\Persistence\Content\Location\Handler'

    Novactive\EzMenuManagerBundle\Controller\:
        resource: '../../Controller/*'
        public: true

    Novactive\EzMenuManager\Form\Type\:
        resource: '../../../lib/Form/Type/*'

    Novactive\EzMenuManager\Service\:
        resource: '../../../lib/Service/*'

    Novactive\EzMenuManager\Service\MenuCacheService:
        arguments:
            $cache: '@ibexa.cache_pool'
        calls:
            - [setSiteAccess, ['@Ibexa\Core\MVC\Symfony\SiteAccess']]

    Novactive\EzMenuManager\Twig\:
        resource: '../../../lib/Twig/*'

    Novactive\EzMenuManager\EventListener\:
        resource: '../../../lib/EventListener/*'
        public: true

    Novactive\EzMenuManager\EventListener\PublishVersionSignalSlot:
        arguments:
            $persistenceHandler: '@ibexa.api.persistence_handler'

    Novactive\EzMenuManager\EventListener\DoctrineEventListener:
        tags:
            - { name: doctrine.event_listener, event: postPersist, lazy: true }
            - { name: doctrine.event_listener, event: postUpdate, lazy: true }
            - { name: doctrine.event_listener, event: postRemove, lazy: true }

    Novactive\EzMenuManager\MenuItem\:
        resource: '../../../lib/MenuItem/*'

    Novactive\EzMenuManager\MenuItem\Type\ContentMenuItemType:
        calls:
            - ['setTranslationHelper', ['@Ibexa\Core\Helper\TranslationHelper']]
            - ['setContentService', ['@ibexa.siteaccessaware.service.content']]
            - ['setLocationService', ['@ibexa.siteaccessaware.service.location']]
            - ['setRouter', ['@router']]
            - ['setCache', ['@ibexa.cache_pool']]
            - ['setSiteAccess', ['@Ibexa\Core\MVC\Symfony\SiteAccess']]

    Novactive\EzMenuManager\MenuItem\MenuItemTypeRegistry:
        arguments: [!tagged ezmenumanager.menuitemtype]
