{% extends "@NovaeZMailing/eZViews/mailing_base.html.twig" %}

{% block body %}
    <p>You are using the generic 'novaezmailingfull' view.</p>
    <hr/>
    <a href="http://www.novactive.us">Test Tracking Link - Novactive</a><br/>
    <a href="http://ez.no">Test Tracking Link - eZ No</a><br/>
    <p><strong>Mailing</strong>: {{ mailing.name }}</p>
    <p><strong>Associated content</strong>: {{ ez_content_name(mailing.content) }}</p>
    <p><strong>Campaign</strong>: {{ mailing.campaign.name }}</p>
    {% if mailing.campaign is not null %}
        <p><strong>Associated content</strong>: {{ ez_content_name(mailing.campaign.content) }}</p>
    {% endif %}
    <hr/>

    <p>Please define a "view" that works in your project</p>
    <p>Example for a folder: </p>
    <pre style="background: #aaa; padding: 10px">
content_view:
    novaezmailingfull:
        folder:
            template: novaezmailingfull\folder.html.twig
            match:
                Identifier\ContentType: [folder]
</pre>
    <hr/>
{% endblock %}
