<div class="row mt-4">
    <div class="col">
        <div class="btn-group d-flex">
            <a href="{{  path('saml_login') }}" class="btn btn-primary">
                {{ 'saml.login'|trans }}
            </a>
        </div>
    </div>
</div>
