
.novaezmailing-app {

    a[data-toggle="popover"] {
        cursor: pointer;
    }

    header {
        h1 {
            height: 100%;
            display: block;
            padding-top: 35px;
        }
    }
    .sidebar {
    }
    .innercontent {

    }
    footer {
        background: #0f74a8;
    }
}

