.novaezmailing-app .sidebar .campaigns {
    /* CSS Tree menu styles */
    ul {
        padding: 0 0 0 30px;
        width: 300px;

        li {
            position: relative;
            margin-left: -15px;
            list-style: none;

            input {
                position: absolute;
                left: 0;
                margin-left: 0;
                opacity: 0;
                z-index: 2;
                cursor: pointer;
                height: 1em;
                width: 1em;
                top: 0;
            }

            input + ul {
                background: url(../images/16x16/toggle-small-expand.png) 40px 0 no-repeat;
                margin: -27px 0 0 -44px;
                height: 21px;
            }

            input + ul > li {
                display: none;
                margin-left: -14px !important;
                padding-left: 1px;
            }

            label {
                background-repeat: no-repeat;
                background-position: 15px 4px;
                cursor: pointer;
                display: block;
                padding-left: 37px;
            }

            input:checked + ul {
                background: url(../images/16x16/toggle-small.png) 40px 5px no-repeat;
                margin: -32px 0 0 -44px;
                padding: 1.563em 0 0 80px;
                height: auto;
            }

            input:checked + ul > li {
                display: block;
                margin: 0 0 0.125em;
            }

            input:checked + ul > li:last-child {
                margin: 0 0 0.063em;
            }
        }

        li.leaf {
            margin-left: -13px !important;
            a {
                background-position: 0 3px;
                background-repeat: no-repeat;
                padding-left: 21px;
                text-decoration: none;
                display: block;
            }
        }

        li label {
            background-image: url(../images/16x16/campaign.png);
        }
        li.aborted a {
            background-image: url(../images/16x16/aborted.png);
        }
        li.archived a {
            background-image: url(../images/16x16/archived.png);
        }
        li.sent a {
            background-image: url(../images/16x16/sent.png);
        }
        li.processing a {
            background-image: url(../images/16x16/processing.png);
        }
        li.pending a {
            background-image: url(../images/16x16/pending.png);
        }
        li.draft a {
            background-image: url(../images/16x16/draft.png);
        }
        li.tested a {
            background-image: url(../images/16x16/tested.png);
        }
        li.subscriptions a {
            background-image: url(../images/16x16/subscriptions.png);
        }
    }

    ul.kcode {
        li label {
            background-image: url(../images/kcode/16x16/campaign.png);
        }
        li.aborted a {
            background-image: url(../images/kcode/16x16/aborted.png);
        }
        li.archived a {
            background-image: url(../images/kcode/16x16/archived.png);
        }
        li.sent a {
            background-image: url(../images/kcode/16x16/sent.png);
        }
        li.processing a {
            background-image: url(../images/kcode/16x16/processing.png);
        }
        li.pending a {
            background-image: url(../images/kcode/16x16/pending.png);
        }
        li.draft a {
            background-image: url(../images/kcode/16x16/draft.png);
        }
        li.tested a {
            background-image: url(../images/kcode/16x16/tested.png);
        }
        li.subscriptions a {
            background-image: url(../images/kcode/16x16/subscriptions.png);
        }
    }

}
