{% extends "@NovaeZMailing/admin/layout/pagelayout.html.twig" %}

{% block novezmailing_breadcrumb %}
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item active">
            Nova eZ Mailing
        </li>
    </ol>
{% endblock %}
{% block novezmailing_title %}Dashboard{% endblock %}
{% block novezmailing_subtitle %}Quick overview{% endblock %}

{% block content %}
    Dashboard

<br />
<br />
<br />

    <a type="button" class="btn btn-sm btn-secondary" href="{{ path('novaezmailing_campaign_create') }}">
        <svg class="ez-icon">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
        </svg>
        <span>Create a new Campaign</span>
    </a>
    <a type="button" class="btn btn-sm btn-secondary" href="{{ path('novaezmailing_import_user') }}">
        <svg class="ez-icon">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
        </svg>
        <span>Import user</span>
    </a>
{% endblock %}
