<!--
/**
 * Nova eZ Accelerator Configuration
 *
 * @package   Novactive\Bundle\eZAccelerator
 *
 * @author    Novactive <dir.tech@novactive.com>
 * @author    Sébastien Morel (Plopix) <morel.seb@gmail.com>
 * @copyright 2020 Novactive
 * @license   https://github.com/Novactive/NovaeZAccelerator/blob/master/LICENSE MIT Licence
 */
-->
<phpunit colors="false" stopOnFailure="false" backupGlobals="false">
    <testsuites>
        <testsuite name="eZAccelerator">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="UNIT_TESTS" value="true"/>
        <env name="PANTHER_EXTERNAL_BASE_URI" value="https://127.0.0.1:8000"/>
    </php>
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
</phpunit>
