{% extends '@EzSystemsRepositoryForms/ContentType/field_types.html.twig' %}

{% block menuitem_field_definition_edit %}
    <div class="menuitem-default-value{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_label(form.defaultValue) -}}
        {{- form_errors(form.defaultValue) -}}
        {{- form_widget(form.defaultValue) -}}
    </div>
{% endblock %}
