<html>
<head>
    <title>Maintenance</title>
</head>
<body>
<section class="section mt-0">
    <h2>Le site est actuellement en cours de mise a jour afin de répondre au mieux à vos attentes !</h2>
    <h2>Merci de votre compréhension</h2>
</section>
</body>
</html>
