{% extends '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block menu_items_collection_widget %}
    <div class="card menu__wrapper ez-visually-hidden*">
        <div class="card-body">
            <div class="menu-edit__items-collection">
                {% set attr = attr|merge({'class': 'ez-visually-hidden ez-data-source__input'}) %}
                {{ block('form_widget') }}
                <div class="menu-tree__wrapper"></div>
            </div>
        </div>
    </div>
{% endblock %}