<header class="header row">
    <div class="col-2">
        <p class="text-center">
            <img width="200" src="{{ asset("bundles/novaezmailing/admin/images/novactive-minded.png") }}"/><br/>
            <strong>Nova eZ Mailing</strong>
        </p>
    </div>
    <div class="col-10">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <h1 class="navbar-brand">{{ title }}</h1>
            <form class="form-inline novaezmailing-search">
                <input class="form-control mr-sm-2 btn-outline-primary" type="search" placeholder="Search">
            </form>
        </nav>
    </div>



</header>
