<header class="header row">
    <div class="col-2">
        <p class="text-center">
            <img width="200" src="{{ asset("bundles/novaezmailing/admin/images/novactive-minded.png") }}"/><br/>
            <strong>Nova eZ Mailing</strong>
        </p>
    </div>
    <div class="col-10 ez-header-container">
        <nav class="ez-header">
            {{ breadcrumb|raw }}
            <nav class="navbar ez-page-title pt-3 pb-4 px-4 justify-content-between">
                <div>
                    <h1>{{ title|raw }}</h1>
                    <h4>{{ subTitle|raw }}</h4>
                </div>
                <form class="form-inline novaezmailing-search">
                    <input class="form-control mr-sm-2 btn-outline-primary" type="search" placeholder="Search">
                </form>
            </nav>
        </nav>

    </div>

</header>
