<header class="header row">
    <div class="col-2">
        <p class="text-center">
            <img width="200" src="{{ asset("bundles/novaezmailing/admin/images/novactive-minded.png") }}"/><br/>
            <strong>Nova eZ Mailing</strong>
        </p>
    </div>
    <div class="col-10">
        <h1>{{ title }}</h1>
    </div>
</header>
