<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-2">
            <img class="mb-2" src="https://avatars0.githubusercontent.com/u/710363?s=60&v=4" width="24" height="24" alt="Novactive"/>
            <small class="d-block mb-3 text-muted">&copy; {{ 'now'|date('Y') }}</small>
        </div>
        <div class="col-8">
            <p class="text-center">
                <i class="fas fa-code"></i> with
                <i class="fas fa-heart"></i> in Paris, Toulon, Nantes, Bordeaux and California.
            </p>
        </div>
        <div class="col-2">
            <p class="text-right">
                <a href="#">
                    Back to top
                </a>
            </p>
        </div>
    </div>
</footer>
