{% extends "@ibexadesign/ui/layout.html.twig" %}


{% block title %}{{ title|trans([], 'menu_manager') }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('menu_manager.menu_list'), value: 'menu.list'|trans([], 'menu_manager') },
        { value: title|trans([], 'menu_manager') }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: title|trans([], 'menu_manager'),
        iconName: 'list'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container my-4">
        {{ knp_menu_render(knpMenu) }}
    </section>
{%- endblock -%}
