{# @var location \MCC\Component\Repository\Decorator\LocationDecorator #}
{# @var content \MCC\Component\Repository\Decorator\ContentDecorator #}
{# @var block \eZ\Publish\Core\FieldType\Page\Parts\Block #}
{% extends noLayout ? viewbaseLayout : "@ezdesign/pagelayout/default.html.twig" %}

{% block content %}
    <div style="text-align: center">
    <p>Vous essayez d’accéder à une page sécurisée.<br>
        Veuillez saisir le mot de passe afin de poursuivre votre navigation :</p>
    {{ form_start(form) }}
        {{ form_row(form.password) }}
    {{ form_end(form) }}
    </div>
{% endblock %}