.menu-manager {
    min-height: 280px;
    position: relative;
}
.menu-manager-edit-form-container {
    position: absolute;
    background: white;
    right: -1px;
    padding: 1em;
    top: -1px;
    bottom: -1px;
    -moz-box-shadow: -10px 0px 10px -5px #cfcfcf;
    -webkit-box-shadow: -10px 0px 10px -5px #cfcfcf;
    -o-box-shadow: -10px 0px 10px -5px #cfcfcf;
    box-shadow: -10px 0px 10px -5px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=10);
}
