<p>This content is part of the {{ items|length }} campaigns.</p>

{% for item in items %}
    <div class="ez-table-header">
        <div class="ez-table-header__headline">
            <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/campaign.png") }}" class="nova-icon" />

            {{ item.name }} - {{ item.mailings|length }} Mailings
        </div>
    </div>
    <div class="novaezmailing-ez-mailings-view">
        {% include "@NovaeZMailing/admin/common/list/mailings.html.twig" with { withTitle: false, items: item.mailings} only %}
    </div>
{% endfor %}
