<p>This content is part of the {{ items|length }} mailings.</p>

{% for item in items %}
    <div class="ez-table-header">
        <div class="ez-table-header__headline">
            <img src="{{ asset("/bundles/novaezmailing/admin/images/32x32/"~item.statusKey~".png") }}" class="nova-icon"/>

            {{ item.campaign.name }} > {{ item.name }}
        </div>
    </div>
    <div>
        Todo: Add information about the mailing
    </div>
{% endfor %}
