services:
    _defaults:
        autowire: true
        autoconfigure: true

    Novactive\Bundle\eZ2FABundle\Command\Remove2FAForUserCommand: ~

    Novactive\Bundle\eZ2FABundle\Controller\:
        resource: '../../Controller'
        tags: ['controller.service_arguments']

    Novactive\Bundle\eZ2FABundle\Listener\:
        resource: '../../Listener'

    Novactive\Bundle\eZ2FABundle\Core\:
        resource: '../../Core'

    Novactive\Bundle\eZ2FABundle\Core\SiteAccessAwareQueryExecutor:
        arguments:
            $repositoryConfigurationProvider: "@ezpublish.api.repository_configuration_provider"

    Novactive\Bundle\eZ2FABundle\Security\TwoFactorUserProviderDecorator:
        decorates: 'ezpublish.security.user_provider'

    Novactive\Bundle\eZ2FABundle\Core\SiteAccessAwareAuthenticatorResolver:
        bind:
            $backupCodesEnabled: '%nova_ez2fa.backup_codes.enabled%'

    Novactive\Bundle\eZ2FABundle\Core\Tab\TwoFAManagement:
        tags:
            - { name: ezplatform.tab, group: location-view }

    Novactive\Bundle\eZ2FABundle\Core\EmailCodeGenerator:
        bind:
            $mailer: '@scheb_two_factor.security.email.auth_code_mailer'
            $digits: '%scheb_two_factor.email.digits%'

    Novactive\Bundle\eZ2FABundle\Listener\OnHttpRequestListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request }

    Novactive\Bundle\eZ2FABundle\Core\AuthCodeMailer:
        bind:
            $senderEmail: '%scheb_two_factor.email.sender_email%'
            $senderName: '%scheb_two_factor.email.sender_name%'
